/* ==========================================================================
   Subtask.co About Styles
   ========================================================================== */
   
@import url(http://fonts.googleapis.com/css?family=Montserrat);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);

body {font-size:10px;}
.scroll-padding { padding-top: 80px; }

/* Navigation Styles*/

.navbar {
	height: 80px;
}
.navbar-brand {
	height: 80px;
	text-decoration: none;
}
.svg-logo  {
	margin-top: 20px;
	display: inline;
}
.navbar {
	background: #FFFFFF;
	-webkit-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.1);
	box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.1);
	z-index: 10;
}
.navbar .navlink {
	font-size: 1.2em;
	line-height: 80px;
	padding-left: 25px;
	text-transform: uppercase;
	opacity: 25%;
	color: rgba(45, 41, 48, 0.25);
	font-family: 'Montserrat', sans-serif;
	text-decoration: none;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.navbar .navlink:hover, .navbar .navlink-active {
	color: rgba(45, 41, 48, 1);
	text-decoration: none;
}
.navbar-toggle {
	margin-top: 25px;
	cursor: pointer;
}
.icon-bar {
	background-color: #2B282E;
}
.navbar-collapse {
	border: none;
}
@media (max-width: 768px) {
	.navbar .navlink {
		z-index: 10;
		font-size: 1.4em;
		line-height: 80px;
		padding-left: 25px;
		width: 100%;
		background-color: rgba(247, 247, 247, .95);
		text-transform: uppercase;
		opacity: 25%;
		color: rgba(45, 41, 48, 0.25);
		font-family: 'Montserrat', sans-serif;
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		transition: all 0.3s;
		display: block;
		text-align: center;
		text-decoration: none;
	}
	.navbar .navlink:nth-child(4) {
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
	}
	.navbar .navlink:hover, .navbar .navlink-active {
		color: rgba(45, 41, 48, 1);
		text-decoration: none;
	}
}
.logo-text {
	font-size: 1.2em;
	color: #2B282E;
	text-transform: uppercase;
	display: inline;
	padding-left: 15px;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 1px;
	vertical-align: top;
}
h1 {
	text-transform: uppercase;
	color: #FFFFFF;
	font-size: 1.8em;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 1px;
}
.content-main {
	padding-top: 20px;
}
h2, h3, h4 {
	text-align: center;
	text-transform: uppercase;
}
h2 {
	font-size: 3em;
	color: #434044;
	padding-top: 25px;
	padding-bottom: 0;
	letter-spacing: 2px;	
}
h3 {
	font-size: 1.6em;
	color: #9E9E9E;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	margin-top: 15px;
	letter-spacing: 1px;
}
h4 {
	font-size: 1.4em;
	color: #636363;
	letter-spacing: 1px;
}
p {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.4em;
	font-weight: 300;
	color: #636363;
}
.about-text {
	margin-top: 60px;
	margin-bottom: 50px;
}
.panel {
	border: none;
	box-shadow: none;
	-webkit-box-shadow: none;
}
.panel-group .panel + .panel {
	margin-top: 2px;
}
.panel-group {
	margin-top: 60px;
}
.panel-heading {
	background-color: #262323;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	padding: 23px;
}
.panel-heading h4 {
	font-size: 1.4em;
	font-family: 'Montserrat', sans-serif;
	color: #FFFFFF;
	text-transform: none;
	text-align: left;
}
.panel-title a {
	text-decoration: none;
}
.panel-body {
	background-color: #E0E0E0;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
}
.panel-body p{
	font-family: 'Open Sans', sans-serif;
	font-size: 1.4em;
}
.accordion-toggle:hover, .accordion-toggle:focus, .accordion-toggle:active {
	text-decoration: none;
}
@import url('//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css');
.accordion-toggle:after {
    font-family: 'FontAwesome';
    content: "\f107";    
    float: right;
}



.text-email {
	text-align: center;
	margin-top: 70px;
	color: #A5A5A5;
}
.link-email, .link-email:focus{
	margin-top: 15px;
	font-size: 1.8em;
	color: #252222;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 1px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	width: 172px;
	background: url(../img/underline-0.png) repeat-x 100% 100%;
	text-decoration: none;
}
.link-email:hover{
	text-decoration: none;
	color: #252222;
	background: url(../img/underline-black.png) repeat-x 100% 100%;
}

.text-signup {
	font-size: 1.4em;
	color: #2D2930;
	text-align: center;
	cursor: pointer;
	margin-top: 20px;
	padding-top: 85px;
}
.btn-signup {
	font-size: 1.6em;
	color: #2D2930;
	text-align: center;
	text-decoration: none;
	box-shadow: 0 0 0 2px #2D2930;
	border-radius: 2px;
	padding: 27px;
	text-transform: uppercase;
	opacity: 0.7;
	cursor: pointer;
	margin-top: 20px;
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 130px;
	letter-spacing: 1px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.btn-signup:hover, .btn-signup:focus {
	text-decoration: none;
	color: #FFFFFF;
	opacity: 1;
	background-color: #2D2930;
}
footer {
	background-color: #F2F2F2;
}
.text-footer {
	font-size: 1em;
	color: #2B282E;
	padding-top: 8px;
	text-align: center;
}
.text-footer span {
	color: #807E81;
}
.sitemap-footer {
	padding-top: 8px;
	text-align: center;
}
.sitemap-footer a{
	color: #807E81;
	text-decoration: none;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.sitemap-footer a:hover{
	color: #2B282E;
	text-decoration: none;
}
@media (max-width: 768px) {
	.sitemap-footer {
		padding-top: 0px;
		padding-bottom: 8px;
	}
}