/* ==========================================================================
   Subtask.co About Styles
   ========================================================================== */
   
@import url(http://fonts.googleapis.com/css?family=Montserrat);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);

body {font-size:10px;}
.scroll-padding { padding-top: 80px; }

/* Navigation Styles*/

.navbar {
	height: 80px;
}
.navbar-brand {
	height: 80px;
	text-decoration: none;
}
.svg-logo  {
	margin-top: 20px;
	display: inline;
}
.navbar {
	background: #FFFFFF;
	-webkit-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.1);
	box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.1);
	z-index: 10;
}
.navbar .navlink {
	font-size: 1.2em;
	line-height: 80px;
	padding-left: 25px;
	text-transform: uppercase;
	opacity: 25%;
	color: rgba(45, 41, 48, 0.25);
	font-family: 'Montserrat', sans-serif;
	text-decoration: none;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.navbar .navlink:hover, .navbar .navlink-active {
	color: rgba(45, 41, 48, 1);
	text-decoration: none;
}
.navbar-toggle {
	margin-top: 25px;
	cursor: pointer;
}
.icon-bar {
	background-color: #2B282E;
}
.navbar-collapse {
	border: none;
}
@media (max-width: 768px) {
	.navbar .navlink {
		z-index: 10;
		font-size: 1.4em;
		line-height: 80px;
		padding-left: 25px;
		width: 100%;
		background-color: rgba(247, 247, 247, .95);
		text-transform: uppercase;
		opacity: 25%;
		color: rgba(45, 41, 48, 0.25);
		font-family: 'Montserrat', sans-serif;
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		transition: all 0.3s;
		display: block;
		text-align: center;
		text-decoration: none;
	}
	.navbar .navlink:nth-child(4) {
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
	}
	.navbar .navlink:hover, .navbar .navlink-active {
		color: rgba(45, 41, 48, 1);
		text-decoration: none;
	}
}
.logo-text {
	font-size: 1.2em;
	color: #2B282E;
	text-transform: uppercase;
	display: inline;
	padding-left: 15px;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 1px;
	vertical-align: top;
}
h1 {
	text-transform: uppercase;
	color: #FFFFFF;
	font-size: 1.8em;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 1px;
}
.content-main {
	padding-top: 20px;
}
h2, h3, h4 {
	text-align: center;
	text-transform: uppercase;
}
h2 {
	font-size: 3em;
	color: #434044;
	padding-top: 25px;
	padding-bottom: 0;
	letter-spacing: 2px;	
}
h3 {
	font-size: 1.6em;
	color: #9E9E9E;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	margin-top: 15px;
	letter-spacing: 1px;
}
h4 {
	font-size: 1.4em;
	color: #636363;
	letter-spacing: 1px;
}
p {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.4em;
	font-weight: 300;
	color: #636363;
}



.login_input, .login_input:focus {
	width: 260px;
	height: 35px;
	padding: 0 15px 0 15px;
	background-color: rgba(135, 139, 154, 0.2);
	border: none;
	border-radius: 5px;
	outline: none;
	margin-bottom: 15px;
}
label{
	font-size: 1em;
	font-weight: bold;
}
input[type=submit]{
	color: #FFFFFF;
	text-align: center;
	font-size: 0.6em;
	text-transform: uppercase;
	width: 230px;	
	height: 40px;
	padding: 0;
	background-color: #5E597C;
	margin: 10px 0 15px 0;
	cursor: pointer;
	-webkit-transition: background-color 0.3s;
	-moz-transition: background-color 0.3s;
	transition: background-color 0.3s;
	border: none;
	border-radius: 
}
input[type=submit]:hover{
	background-color: #3D3760
}
::-webkit-input-placeholder {
	color: rgba(37, 45, 75, 0.5);
	font-size: 0.6em;
	line-height: 23px;
}
::-moz-placeholder {
	color: rgba(37, 45, 75, 0.5);
	font-size: 0.6em;
	line-height: 23px;
} 
:-ms-input-placeholder {
	color: rgba(37, 45, 75, 0.5);
	font-size: 0.6em;
	line-height: 23px;
} 
input:-moz-placeholder {
	color: rgba(37, 45, 75, 0.5);
	font-size: 0.6em;
	line-height: 23px;
}










footer {
  background-color: #F2F2F2;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.text-footer {
	font-size: 1em;
	color: #2B282E;
	padding-top: 8px;
	text-align: center;
}
.text-footer span {
	color: #807E81;
}
.sitemap-footer {
	padding-top: 8px;
	text-align: center;
}
.sitemap-footer a{
	color: #807E81;
	text-decoration: none;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.sitemap-footer a:hover{
	color: #2B282E;
	text-decoration: none;
}
@media (max-width: 768px) {
	.sitemap-footer {
		padding-top: 0px;
		padding-bottom: 8px;
	}
}