/* ==========================================================================
   Subtask.co About Styles
   ========================================================================== */
   
@import url(http://fonts.googleapis.com/css?family=Montserrat);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);

body { font-size:10px; overflow-x: hidden;}
.scroll-padding { padding-top: 80px; }

/* Navigation Styles*/

.navbar {
	height: 80px;
	margin-bottom: 0;
}
.navbar-brand {
	height: 80px;
	text-decoration: none;
}
.svg-logo  {
	margin-top: 20px;
	display: inline;
}
.navbar {
	background: #FFFFFF;
	-webkit-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.1);
	box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.1);
	z-index: 10;
}
.navbar .navlink {
	font-size: 1.2em;
	line-height: 80px;
	padding-left: 25px;
	text-transform: uppercase;
	opacity: 25%;
	color: rgba(45, 41, 48, 0.25);
	font-family: 'Montserrat', sans-serif;
	text-decoration: none;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.navbar .navlink:hover, .navbar .navlink-active {
	color: rgba(45, 41, 48, 1);
	text-decoration: none;
}
.navbar-toggle {
	margin-top: 25px;
	cursor: pointer;
}
.icon-bar {
	background-color: #2B282E;
}
.navbar-collapse {
	border: none;
}
@media (max-width: 768px) {
	.navbar .navlink {
		z-index: 10;
		font-size: 1.4em;
		line-height: 80px;
		padding-left: 25px;
		width: 100%;
		background-color: rgba(247, 247, 247, .95);
		text-transform: uppercase;
		opacity: 25%;
		color: rgba(45, 41, 48, 0.25);
		font-family: 'Montserrat', sans-serif;
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		transition: all 0.3s;
		display: block;
		text-align: center;
		text-decoration: none;
	}
	.navbar .navlink:nth-child(4) {
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
	}
	.navbar .navlink:hover, .navbar .navlink-active {
		color: rgba(45, 41, 48, 1);
		text-decoration: none;
	}
}
.logo-text {
	font-size: 1.2em;
	color: #2B282E;
	text-transform: uppercase;
	display: inline;
	padding-left: 15px;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 1px;
	vertical-align: top;
}
h1 {
	text-transform: uppercase;
	color: #FFFFFF;
	font-size: 1.8em;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 1px;
}
.content-main {
	padding-top: 20px;
}
h2, h3, h4 {
	text-align: center;
	text-transform: uppercase;
}
h2 {
	font-size: 3em;
	color: #434044;
	padding-top: 25px;
	padding-bottom: 0;
	letter-spacing: 2px;	
}
h3 {
	font-size: 1.6em;
	color: #9E9E9E;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	margin-top: 15px;
	letter-spacing: 1px;
}
h4 {
	font-size: 1.4em;
	color: #636363;
	letter-spacing: 1px;
}
p {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.4em;
	font-weight: 300;
	color: #636363;
}


.custom-sidebar {
	height: 100%;
	width: 260px;
	position: fixed;
	background-color: #C9C9C9;	
}

.user-section {
	width: 100%;
	height: 60px;
	padding-top: 20px;
	background-color: #E9E9E9;
	text-align: center;
}
.username {
	text-transform: capitalize;
}
/* Search */
input {
	outline: none;
}
input[type=search] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: inherit;
	font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: none; 
}
input[type=search] {
	background: url('../img/search-icon.png') no-repeat center;
	border: none;
	padding: 5px;
	margin: 0 100px;
	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}
#searchbar {
	margin: 15px;
}
#searchbar input[type=search] {
	width: 15px;
	color: transparent;
	cursor: pointer;
}
#searchbar input[type=search]:hover {
	background-color: #fff;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}
#searchbar input[type=search]:focus {
	margin: 0;
	background: url('../img/search-icon.png') no-repeat 205px center;
	width: 210px;
	padding-left: 15px;
	color: #000;
	background-color: #fff;
	cursor: auto;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}
#searchbar input:-moz-placeholder {
	color: transparent;
}
#searchbar input::-webkit-input-placeholder {
	color: transparent;
}
#searchbar input[type=search]:focus:-moz-placeholder {
	color: #8a8a8a;
}
#searchbar input[type=search]:focus::-webkit-input-placeholder {
	color: #8a8a8a;
}
.projects {
	width: 100%;
	position: relative;
	padding: 20px;
}
.projects-title h4{
	font-size: 1.4em;
	font-family: 'Montserrat', sans-serif;	
	color: #2b282e;
	text-align: left;
	margin: 1px;	
}
.projects-title{
	border-radius: 10px;
	padding: 2px 10px 2px 10px;
	height: 20px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.projects-title:hover, .lists-title:hover{
	background-color: #FFFFFF;
	border-radius: 10px;
}
.delete-project{
	background-color: transparent;
	width:12px;
	height: 12px;
	margin-top: -16px;
	background-image: url('../img/edit-icon.png');
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.delete-list{
	background-color: transparent;
	width:12px;
	height: 12px;
	margin-top: 1px;
	background-image: url('../img/edit-icon.png');
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.projects-title:hover .delete-project, .lists-title:hover .delete-list{
	opacity: 1;
}
ul {
	padding: 10px;
}
.lists-title {
	list-style: none;
	font-family: 'Montserrat', sans-serif;	
	font-size: 1.1em;
	border-radius: 10px;
	padding: 2px 10px 2px 10px;
	height: 20px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.mark-all {
	margin-left: 16px;
}
.add-task {
	margin-top: 30px;
}
.project-button-container {
	width: 260px;
	position: relative;
	height: 50px;

}
.project-button {
	width: 260px;
	height: 50px;
	bottom: 0;
	position: fixed;
	background-color: #E9E9E9;
}
.content {
	margin-top: 30px;
	margin-bottom: 100px;
}
.list-group-item {
	height: 50px;
	margin-bottom: 15px;
	border: none;
	border-radius: 5px;
	font-size: 1.4em;
	line-height: 2em;
	font-family: 'Montserrat', sans-serif;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.list-group-item:hover{
	background-color: #F2F2F2;
}
.delete-task{
	background-color: transparent;
	width:12px;
	height: 12px;
	margin: 7px;
	background-image: url('../img/edit-icon.png');
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.list-group-item:hover .delete-task{
	opacity: 1;
}
.view ng-scope {
	margin-top: 4px;
}
.editing {
	border-bottom: none;
	padding: 0;
}

.editing .edit {
	display: block;
	width: 506px;
	padding: 13px 17px 12px 17px;
	margin: 0 0 0 43px;
}

.editing .view {
	display: none;
}

.editing:last-child {
	margin-bottom: -1px;
}


@media screen and (min-width: 768px) {
	.sidebar-button{
		display: none;
	}
	.row-offcanvas {
    	position: relative;
		-webkit-transition: all .25s ease-out;
		-moz-transition: all .25s ease-out;
        transition: all .25s ease-out;
	}
	.row-offcanvas-right {
    	right: 25%;
	}
	.row-offcanvas-left {
    	left: 25%;
	}
	.row-offcanvas-right .sidebar-offcanvas {
    	right: -25%; /* 3 columns */
		background-color: rgb(255, 255, 255);
	}
	.row-offcanvas-left .sidebar-offcanvas {
    	left: -25%; /* 3 columns */
		background-color: rgb(255, 255, 255);
	}
	.row-offcanvas-right.active {
    	right: 0; /* 3 columns */
	}
	.row-offcanvas-left.active {
    	left: 0; /* 3 columns */
	}
	.row-offcanvas-right.active .sidebar-offcanvas {
		background-color: rgb(254, 254, 254);
	}
	.row-offcanvas-left.active .sidebar-offcanvas {
		background-color: rgb(254, 254, 254);
	}
	.row-offcanvas .content {
    	width: 75%; /* 9 columns */
		-webkit-transition: all .25s ease-out;
		-moz-transition: all .25s ease-out;
		transition: all .25s ease-out;
	}
	.row-offcanvas.active .content {
    	width: 100%; /* 12 columns */
	}
	.sidebar-offcanvas {
    	position: absolute;
		top: 0;
		width: 25%; /* 3 columns */
	}
}
@media screen and (max-width: 767px) {
	.sidebar-button {
		width: 11px;
		height: 1px;
		border-radius: 2px;
		background-color: #000000;
		border: none;
	}
	.row-offcanvas {
    	position: relative;
		-webkit-transition: all .25s ease-out;
		-moz-transition: all .25s ease-out;
        transition: all .25s ease-out;
	}
	.row-offcanvas-right {
    	right: 0;
	}
	.row-offcanvas-left {
    	left: 0;
	}
	.row-offcanvas-right
	.sidebar-offcanvas {
    	right: -50%; /* 6 columns */
	}
	.row-offcanvas-left
	.sidebar-offcanvas {
    	left: -50%; /* 6 columns */
	}
	.row-offcanvas-right.active {
    	right: 50%; /* 6 columns */
	}
	.row-offcanvas-left.active {
		left: 50%; /* 6 columns */
	}
	.sidebar-offcanvas {
    	position: absolute;
		top: 0;
		width: 50%; /* 6 columns */
	}
}



footer {
  background-color: #F2F2F2;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.text-footer {
	font-size: 1em;
	color: #2B282E;
	padding-top: 8px;
	text-align: center;
}
.text-footer span {
	color: #807E81;
}
.sitemap-footer {
	padding-top: 8px;
	text-align: center;
}
.sitemap-footer a{
	color: #807E81;
	text-decoration: none;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.sitemap-footer a:hover{
	color: #2B282E;
	text-decoration: none;
}
@media (max-width: 768px) {
	.sitemap-footer {
		padding-top: 0px;
		padding-bottom: 8px;
	}
}